<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Link">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Forgot</ion-title>
    </ion-toolbar>
  </ion-header>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-card class="Base">
    <div>
      <h1 class="ion-text-center">Restablecer contraseña</h1>
    </div>
    <ion-card>
      <ion-item>
        <ion-label class="Link" position="floating" >User</ion-label>
        <ion-input class="Link" placeholder="Usuario" name="usuario" [(ngModel)]="user"></ion-input>
      </ion-item>
    </ion-card>
    <div class="ion-text-center">
      <ion-button (click)="RecoverUser()" color="primary" shape="round">Recuperar</ion-button>
    </div>
    <br>
</ion-card>
</ion-content>
