<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="Link animate__jello" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="Base" >
      <h1 class="texto">Bienvenido {{dato}}</h1>
      <br>
  </ion-card>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="salir">
      <ion-tab-button tab="home" (click)="salir()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
        Cerrar Sesión
      </ion-tab-button>
      <ion-tab-button tab="camara" (click)="takePicture()">
        <ion-icon name="qr-code-outline"></ion-icon>
        Escanear QR
      </ion-tab-button>
      <ion-tab-button tab="Registro" (click)="Registro()">
        <ion-icon name="checkbox-outline"></ion-icon>
        Asistencia
      </ion-tab-button>
      <ion-tab-button tab="Api" (click)="api()">
        <ion-icon name="library"></ion-icon>
        Api
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>




