<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="Base" >
      <h1 class="texto">Bienvenido {{dato}}</h1>
      <br>
    <ion-button color="primary" shape="round">Abrir Camara</ion-button>
    <br>
    <a href="/login" class="Link">Volver</a>
  </ion-card>
  </div>
</ion-content>
